@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom keyframes for vertical scrolling */
@keyframes verticalScroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  @keyframes verticalScroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  .animate-verticalScroll {
    animation: verticalScroll 30s linear infinite;
  }
  .testimonial_box{
    min-width: 200px;
    width: 100%;
    flex: 250px 1 0;  
  }